{% extends "myapp/base.html" %}

{% block content %}

    {% if user.profile %}
    <div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
        <div class="rounded shadow-lg">
            <div>
                {% if  user.profile.image %}
                    <img src="{{ user.profile.image.url }}">
                {% endif %}
                
            </div>
            <h1 class="font-bold text-xl m-2">{{ user.username }}</h1>
        </div>
    </div>
    {% else %}
    <div class="container py-5">
        <h1 class="text-2xl m-10 font-bold">Register User</h1>
        <form class="w-2/5 bg-white-700 shadow-md m-10 rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label class="block text-gray-700 text-sm font-bold mb-2">Upload profile image </label>
                <input class="block mt-4" type="file" accept="image/*" name="upload" id="upload" required>
                <label class="block text-gray-700 text-sm font-bold mt-5 mb-2">Contact number</label>
                <input class="block mt-4" type="text"  name="number" id="number">
            </div>
            <button class="bg-green-500 text-white px-5 py-2" type="submit">Create Profile</button>
        </form>
    </div>
    {% endif %}
   
{% endblock content %}